body{
	width: 750px;
	margin-right: auto;
	margin-left: auto;
}

div{
	border-style: solid;
	border-width: 12px;
	display: inline-block;
}
textarea{
	display: none;
	width: 80%;
}

#divConnected, #output{
	min-height: 200px;
	max-height: 500px;
	vertical-align: top;
	margin-bottom: 5px;
}

#divConnected{
	width: 150px;
}

#output{
	width:525px;
}
#divInput{
	width:707px;
}

#txtNick{
	display: inline-block;

}